.userPage_ProfilePicture {
  display: block;
  margin: auto;
}

.userPage_Title{
  color: white;
  text-align: center;
  font-size: large;
}

.userPage_Username{
  color: white;
  text-align: center;
}

.userPage_Button{
  background-color: lightgreen;
  text-align: center;
  margin: auto;
  display: block;
}
