.userPage_ProfilePicture{
  padding: 70px 0;
  border: 3px solid green;
  text-align: center;
}

.userPage_Title{
  color: white;
  text-align: center;
  font-size: large;
}

.userPage_Username{
  color: white;
  text-align: center;
}

.userPage_Button{
  background-color: lightgreen;
  text-align: center;
}