.Error {
  text-align: center;
  overflow: auto;
  background-color: white;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Error h1 {
  color: red;
}

.Error__button {
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}

.Error__text-container { 
  width: 25vw;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Error__text-container p {
  margin: 0;
}