.App {
    background-color: #2f3e46;
    height:auto;
    color: #cad2c5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buttons {
    background-color: #52796f;
    border-color: #52796f;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back-button {
    float: left;
    padding: 15px;
    /* box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

h1 {
    color: #EAEAEA;
    padding: 35px;
}