.puzzleSelectionPage {
  background-color: #2f3e46;
  text-align: center;
  color: #e8f1e8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.puzzleSelectionPage__backButtonDiv {
  float: left;
  padding: 15px;
  position: fixed;
  z-index: 2;
}
.logOut {
  float: left;
  padding: 15px;
  position: fixed;
  z-index: 2;
  
}

.puzzleSelectionPage__button {
  background-color: #52796f;
  border-color: #52796f;
  color: #e8f1e8;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
}
.puzzleSelectionPage__backButton {
  background-color: #52796f;
  border-color: #52796f;
  color: #cad2c5;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.puzzleSelectionPage__selection-header {
  background-color: #354f52;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 120px;
  margin-bottom: 45px;
  position: sticky;
  top: 0;
  z-index: 0;
}

.puzzleSelectionPage__selection-title {
  padding-top: 25px;
  font-size: 40px;
  color: #e8f1e8;
}

.puzzle_selection_page__profile-link  {
  position: fixed;
  top: 0;
  right: 0;
  margin: 8px;
  padding: 4px;
  background-color: #52796f;
  border-radius: 15%;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 750px) {
  .puzzle_selection_page__profile-link img {
    height: 50px;
  }

  .puzzleSelectionPage__selection-header {
    height: 80px;
  }

  .puzzleSelectionPage__selection-title {
    padding-top: 15px;
    font-size: 35px;
  }

  .puzzleSelectionPage__backButton {
    padding: 15px 10px;
  }
}