.correct {
    background-color: rgb(87, 126, 69);
    width: 50px;
}

.halfCorrect {
    background-color: rgb(104, 91, 34);
    width: 50px;
}

.incorrect {
    background-color: rgb(93, 100, 104);
    width: 50px;
}

.form-control {
    width: 50px;
}

.mini-control {
    width: 300px;
}
