a:hover {
    text-decoration: none;
}

.puzzle-nav {
    background-color: #52796f;
    position: static;
}
.logOut {
    float: left;
    padding: 15px;
    position: fixed;
    z-index: 2;
    
  }