.App {
    text-align: center;
    overflow: auto;
    background-color: #2f3e46;
    /* background-image: url("../../assets/puzzle.jpg"); */
    background-attachment: fixed;
    color: #cad2c5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    background-color:#52796f;
    border-style: none;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header-container {
    height: 120px;
    margin:0px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #84a98c;
    font-size: 30px;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.text-container { 
    width: 60vw;
    border-color: #52796f;
    border-radius: 15px;
    background-color: #52796f;
    padding: 25px;
    margin-bottom: 15px;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}