.app {
    text-align: center;
    overflow: auto;
    background-color: #2f3e46;
    background-image: url("../../assets/puzzle.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #e8f1e8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #52796f;
}

.button {
    background-color: #52796f;
    color: #e8f1e8;
    border-style: none;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
}

.button:hover {
    background-color: #2f3e46;
}

.close-button {
    background-color: #2f3e46;
    border-style: none;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-control-input {
    margin-right: 8px;
}

.header-container {
    height: 85px;
    margin: 0px;
    padding-top: 20px;
    margin-bottom: 30px;
    background-color: #354f52;
    /* background-color: #84a98c; */
    color: #e8f1e8;
    font-size: 30px;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-container { 
    width: 60vw;
    border-color: #52796f;
    border-radius: 15px;
    background-color: #52796f;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}